body {
    background-color: #f8f9fa;
}

.recipe-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 10x;
    background-color: #ffffff;
    box-shadow: 0 2px 4px black;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(28, 5, 5);
    background-color: rgb(255, 249, 241);
    padding: 16px;
    margin: 20px 250px;
    box-shadow: 0 2px 4px black;
}

.recipe-list {
    padding: 0;
    margin: 20px;
    list-style: none;
}

.recipe-list li {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: larger;
    color: rgb(60, 0, 60);
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(224, 243, 243);
    box-shadow: 0 2px 4px black;
}